<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Devolução</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-utilities.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Aldrich'>
</head>

<script>
    function buscarVenda(codigoVenda) {
            window.location.href = '/buscavenda?codigoVenda=' + codigoVenda;
    }
    function adicionaItem(quantidade, index) {
            window.location.href = window.document.location.origin + '/additemdevolucao?quantidade=' + quantidade + '&index=' + index;
    }
</script>

<body>
<nav class="navbar navbar-expand-lg bg-success navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px;"><b>Brand</b></a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-mdb-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">Action</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav d-flex flex-row me-1">
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>

            <form class="w-auto">
                <input type="search" class="form-control" placeholder="Type query" aria-label="Search">
            </form>

        </div>
    </div>
</nav>

<div class="container mt-3">
    <div class="boxborder">
        <form th:object="${devolucao}" th:action="@{/confirmardevolucao}" method="post">
            <div>
                <label class="form-labels">Código da Venda: </label>
                <input class="form-inputs" id="codigoVenda" name="codigoVenda">
                <button class="btn-primary btn" type="button"
                        onclick="buscarVenda(document.getElementById('codigoVenda').value)" name="buscaVenda"
                        id="buscaVenda">Buscar
                </button>
            </div>
            <div th:if="*{vendaOrigemCodigo != 0}">
                <div>
                    <h1 class="text-center">Dados Venda</h1>
                    <p>Cliente: <span> </span></p>
                    <p>CPF/CNPJ: <span> </span></p>
                    <p>Itens Comprados</p>
                    <div>
                        <table class="table text-center">
                            <tr>
                                <th>Nº</th>
                                <th>Item Cód.</th>
                                <th>Descrição</th>
                                <th>Quantidade</th>
                                <th>Valor Total</th>
                                <th>Valor Unit</th>
                                <th>Qtde Devolver</th>
                                <th>Adicionar a Devolucao</th>
                            </tr>
                            <tr th:each="produto, stat : *{listProdutos}" id="listProdutos">
                                <td th:text="(${stat.index} + 1)" th:value="${stat.index}" id="numList"></td>
                                <td th:text="*{listProdutos[__${stat.index}__].codigo}" id="itemCodigo"
                                    name="itemCodigo" th:value="*{listProdutos[__${stat.index}__].codigo}" class="itemCodigo"></td>
                                <td th:text="*{listProdutos[__${stat.index}__].descricao}"></td>
                                <td th:text="*{listProdutos[__${stat.index}__].quantidadeVenda}"></td>
                                <td th:text="*{#numbers.formatCurrency(listProdutos[__${stat.index}__].valorTotalEmVenda)}"></td>
                                <td th:text="*{#numbers.formatCurrency(listProdutos[__${stat.index}__].valor)}"></td>
                                <td><input th:field="*{listProdutos[__${stat.index}__].quantidadeDevolver}"
                                           id="quantidadeDevolver" name="quantidadeDevolver" class="form-inputs quantidadeDevolver"
                                           style="width: 70px"></td>
                                <td>
                                    <button type="button" th:attr="onclick=|adicionaItem(document.getElementsByClassName('quantidadeDevolver')[${stat.index}].value, ${stat.index})|" class="btn btn-primary" id="addItemDev" name="addItemDev">+
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <p>Devolvendo</p>
                    <div>
                        <table class="table text-center">
                            <tr>
                                <th>Nº</th>
                                <th>Item Cód.</th>
                                <th>Descrição</th>
                                <th>Qtde Devolver</th>
                            </tr>
                            <tr th:each="produtoDev, stat : *{produtosDevolver}" id="produtosDevolver">
                                <td th:text="(${stat.index} + 1)"></td>
                                <td th:text="*{produtosDevolver[__${stat.index}__].codigo}" id="itemCodigoDev"
                                    name="itemCodigo"></td>
                                <td th:text="*{produtosDevolver[__${stat.index}__].descricao}"></td>
                                <td th:text="*{produtosDevolver[__${stat.index}__].quantidadeDevolver}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" th:value="${devolucao}">Próxima</button>
        </form>
    </div>
</div>
</body>


</html>